.allPhotographs {
    margin-top: 200px;
}

.photographsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.btngrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.divider {
    width: 97%;
    border: 1px solid black;
    opacity: 0.2;
    margin: auto;
}