#welcome-world>img {
    height: auto;
    display: inline-block;
    vertical-align: middle;
    max-width: 60%;
    margin-left: auto;
    padding-left: auto;
}

.rating {
    unicode-bidi: bidi-override;
    text-align: center;
    direction: rtl;
}

.rating span {
    font-size: 40px;
    padding: 4px;
}

.rating span:before {
    content: "\2605";
    position: absolute;
    color: gold;
}

.no-articles {
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

.welcome-message>* {
    margin: 0
}

.welcome-message {
    min-height: 100svh;
    background: url("../images/fields.jpg") no-repeat center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#welcome-world .welcome-message {
    text-align: center;
}

#welcome-world {
    justify-content: right;
    position: relative;
    box-sizing: border-box;
    text-align: center;
}


.welcome-message h2{
    color: var(--color-1);
    opacity: 0.8;
    font-size: 5rem;
    font-weight: 200;
    text-transform: uppercase;
    font-family: "Courier", Times, serif;
    text-align: center;
    padding-bottom: 0;
    line-height: 1;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

#welcome-world>#home-page {
    min-width: 40%;
    text-align: center;
}

#home-page {
    background-color: var(--color-3);
    padding: 55px;
}

#home-page>h1 {
    color: var(--color-1);
    text-align: center;
    font-weight: 700;
    font-size: 5rem;
    font-family: "Courier", Times, serif;
    margin: 2rem;
}

.photography {
    margin: 10px;
    padding: 10px;
    background-color: var(--color-1);
    border-radius: 10px;
}

.image-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 550px;
    overflow: hidden;
    text-align: center;
    border-radius: 10px;
}

.image-wrap>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.photography h3 {
    max-width: 350px;
    color: var(--color-4);
}

.data-buttons {
    font-size: 1.4rem;
    text-align: center;
}

.details-btn {
    background-color: var(--color-5);
    font-size: 1.4rem;
    color: white;
    padding: 0.9em 1.4em;
    display: inline-block;
    border-radius: 10px;
}

.btn.details-btn:hover {
    background-color: var(--color-2);
}