.btn.submit {
    margin-top: 30px;
    background: var(--color-5);
    height: 60px;
    border-radius: 20px;
    color: white;
    font-size: 26px;
    cursor: pointer;
    font-weight: 900;
    transition: 0.5s;
    text-align: left;
    padding: 10px 10px 10px 30px;
}

.btn.submit:hover {
    color: white;
    background-color: var(--color-2);
}

.loginContainer {
    margin: 200px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-page {
    max-width: 800px;
    min-width: 400px;
    height: auto;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: var(--color-4);
}


.field>span {
    font-size: 18px;
    bottom: 17px;
    right: 8px;
    text-decoration: none;
    color: var(--color-5);
    border-radius: 10px;
    padding: 5px;
}

.field>span:hover {
    color: white;
}

.container>h1 {
    margin-top: 15px;
    font-weight: 900;
    font-size: 2.7rem;
    text-align: center;
    color: white;
    letter-spacing: 1px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 17px;
}

label,
input {
    width: 100%;
    padding: 0;
    margin: 30px 0;
    border: none;
    outline: none;
}

label {
    margin-bottom: 8px;
    font-size: 20px;
    color: white;
    margin-top: 13px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input::placeholder {
    color: var(--color-4);
};


label[for="female"] {
    margin-top: 10px;
}

input {
    background: #ecf0f3;
    padding: 30px;
    padding-left: 30px;
    height: 50px;
    margin-top: 10px;
    font-size: 24px;
    border-radius: 20px;
}

label[for="terms"]>input {
    display: inline;
}

.container {
    text-align: left;
    margin-top: 0px;
    padding: 40px;
}