#welcome-world>img {
    height: auto;
    display: inline-block;
    vertical-align: middle;
    max-width: 60%;
    margin-left: auto;
    padding-left: auto;
}

/* .photography {
    box-shadow: 0px 0px 30px 0px;
    margin-top: 20px;
    padding: 50px;
    margin-left: 50px;
    background-position: right 35% bottom 45%;
    box-sizing: border-box;
    border-radius: 15px;
    float: left;
    height: auto;
    color: rgb(204, 144, 131);
} */

/* .photography>h3 {
    font-family: "Agency FB";
    font-size: 42px;
    font-weight: 700;
    line-height: normal;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.5s ease-out;
    text-align: center;
    text-transform: uppercase;
} */

/* .photography-content>h4 {
    color: #c2d4f8;
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    line-height: normal;
} */

.rating {
    unicode-bidi: bidi-override;
    text-align: center;
    direction: rtl;
}

.rating span {
    font-size: 40px;
    padding: 4px;
}

.rating span:before {
    content: "\2605";
    position: absolute;
    color: gold;
}

.no-articles {
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 60px;
    font-family: "Agency FB";
}

.welcome-message>* {
    margin: 0
}

.welcome-message {
    min-height: 100svh;
    background: url("../images/fields.jpg") no-repeat center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#welcome-world .welcome-message {
    text-align: center;
}

#welcome-world {
    justify-content: right;
    position: relative;
    box-sizing: border-box;
    text-align: center;
}


.welcome-message h2,
.welcome-message h3 {
    color: var(--color-1);
    opacity: 0.8;
    font-size: 6rem;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Agency FB";
    text-align: center;
    padding-bottom: 0;
    line-height: 1;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

.welcome-message h3 {
    font-size: 7rem;
    line-height: unset;
}

#welcome-world>#home-page {
    min-width: 50%;
    text-align: center;
}

#home-page {
    background-color: var(--color-3);
    padding: 55px;
}

#home-page>h1 {
    color: var(--color-1);
    text-align: center;
    font-weight: 700;
    font-size: 5rem;
    font-family: "Agency FB";
    margin: 2rem;
}

.photosContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.photography {
    margin: 10px;
    padding: 10px;
    background-color: var(--color-1);
    border-radius: 10px;
}

.image-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 350px;
    height: 250px;
    overflow: hidden;
    text-align: center;
    border-radius: 10px;
}

.image-wrap>img {
    height: 100%;
    object-fit: scale-down;
}

.photography h3 {
    max-width: 350px;
    color: var(--color-4);
}

.data-buttons {
    font-size: 1.4rem;
    text-align: center;
}

.details-btn {
    background-color: var(--color-5);
    font-size: 1.4rem;
    width: 100%;
    color: white;
    padding: 0.9em 1.4em;
    display: inline-block;
    border-radius: 10px;
}

.btn.details-btn:hover {
    background-color: var(--color-2);
}